body {
  text-align: center;
}

div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.menu {
  width: 75%;
  height: 120px;

  border: 1px solid black;
}

#menubox1, #menubox2 {
  height: 90%;
  width: 100px;
  display: block;
  border: 1px solid black;
  position: relative;

  top: 5%;

  background-image: url('/images/overworld/down/101.png');
}

#menubox1 {
  left: 1%;
  float: left;
}

#menubox2 {
  right: 1%;
  float: right;
}

div.header {
  border: 2px solid black;
  text-align: center;
  background-color: rgb(128, 0, 0);

  height: 90%;
  width: 700px;

  position: relative;
  top: 5%;
}

div.header h1 {
  color: white;
}

div.menu #column1, div.menu #column2 {
  position: relative;
  height: 90%;
  top: 5%;
  
}

div.menu #column1 {
  float: left;
}

div.menu #column2 {
  float: right;
}

div.menu a {
  display: block;
  margin: 10px;
  
}

canvas#pokespace {
  margin: 1px;
  border: 2px solid black;
}
