html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    background-color:#000;
}

#infovis {
    position:relative;
    width:900px;
    height:800px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

div#prompt-box #prompt-header {
	padding: 2px;
	border-bottom: 1px solid black;
	background-color: #61331C;/*#124132;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div#prompt-box {
	display: none;
	position: absolute;
	width: 400px;
	height: 200px;
	z-index: 99;	

	background-image: -webkit-gradient(linear, left top, right bottom, from(#4AC9A6), to(#17493B));
	border-radius: 15px;
}

div#prompt-box p {
	margin-top: 70px;
}

div#prompt-box #username {
	border-radius: 5px;
	border: 1px solid black;
	background-color: #7BC9B3;
	text-align: center;
}

input:focus {
	outline-radius: 5px;
	outline: black solid medium;
}

#credits {
	font-size: 80%;
    color: gray;
}
  
#credits a {
    text-decoration: none;
	color: darkgreen;
}

#credits a:hover {
	text-decoration: underline;
}
