<% content_for :title do %>Countdown to Pokémon Black and White Australian Release!<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'countdown/style.css' %>
  <%= javascript_include_tag 'countdown/base.js' %>

  <script>
    $(function() {
      function credits() {
        $('#credits').css('top', window.innerHeight - $('#credits').height() - 1);
        $('#credits').css('left', (window.innerWidth - $('#credits').width()) / 2);
      }

      credits();
      $(window).resize(credits);
    });

  </script>
<% end %>

<div id="canvas-content">
  <div id="countdown">
  </div>
</div>
<%= javascript_include_tag 'countdown/box2d.js' %>
<%= javascript_include_tag 'countdown/io.js' %>

<div id="credits">
  Based on the <a href="http://www.google.com/events/io/2011/">Google I/O 2011</a> timer. Adapted by <a href="http://lemma.org/">Daniel Assange</a>.
</div>
