<% content_for :title do %>Defensive Synergy Tool<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'synergy.css' %>
<% end %>

<h1>Defensive Synergy Tool</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
